/* Estilos CSS para la página */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    background-color: #333;
    color: #fff;
    padding: 10px;
}

div {
    background-color: #fff;
    border: 1px solid #ccc;
    margin: 20px;
    padding: 20px;
    border-radius: 5px;
}

label {
    display: block;
    margin-bottom: 10px;
}

select, input, button {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #333;
    color: #fff;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}

#menuLink {
    display: block;
    text-align: center;
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-decoration: none;
    border-radius: 5px;
}

#menuLink:hover {
    background-color: #555;
}
